<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoveAiyue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LoveBaoli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LoveChangxin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LoveFudi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LoveGongyuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LoveLianxin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LoveLijing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LoveMinzu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LovePingguopai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LoveTianjie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>LoveWanxiang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>LoveXiangsu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LoveYangguang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>LoveZhuxin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D42348E71C8BC72D006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4234C6B1C8D2036006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4234FEF1C8D31E4006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42353731C8D59AA006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42356F71C8D5C6E006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4235A7B1C8D5E4A006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4235DFF1C8D60C0006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42361831C8D62C4006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42365071C8D64CA006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D423688B1C8D66DA006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4236C0F1C8D6831006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4236F931C8D69B6006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42373171C8D6B47006EAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F658901BD2712B00E044A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F658A91BD2712B00E044A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
